<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>




<body>



<div style="width:50%;" align="center">
  
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td align="center" valign="top" bgcolor="#e5e3ce" style="background-color:#e5e3ce;"><br>
    <br>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">


      <tr>
        <td align="center" valign="middle"><%= image_tag("top_D.jpg", width: '600', height: '27')%></td>
      </tr>
      <tr>
        <td align="center" valign="middle" bgcolor="#2c817c" style="background-color:#2c817c; padding:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:20px;">
          <tr>
            <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif;">
            <div style="font-size:48px; color:#f9e4ad;"><b>Company Name</b></div>
            <div style="font-size:18px; color:#ffffff;">Newsletter Subtitle</div>
            
            </td>
          </tr>
        </table>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
            <tr>
            <td width="170" align="left" valign="middle"><table width="145" border="0" cellspacing="0" cellpadding="4">
              <tr>
                <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#ffffff;"><b>Quick Links</b></td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff;"><a href="#" style="color:#ffffff; text-decoration:underline; text-decoration:none;">About Our Company</a>




                  <div><%= image_tag("divider_D.png")%></div>
                  <a href="#" style="color:#ffffff; text-decoration:underline; text-decoration:none;">Products &amp; Services</a>
                  <div><%= image_tag("divider_D.png")%></div>
                  <a href="#" style="color:#ffffff; text-decoration:underline; text-decoration:none;">News Room</a>
                  <div><%= image_tag("divider_D.png")%></div>
                  <a href="#" style="color:#ffffff; text-decoration:underline; text-decoration:none;">Online Catelogue</a>
                  <div><%= image_tag("divider_D.png")%></div>
                  <a href="#" style="color:#ffffff; text-decoration:underline; text-decoration:none;">Contact Details</a></td>
              </tr>
            </table></td>
              <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#abcdcb; font-size:16px; padding:5px;"><b>Welcome to Lorem ipsum dolor sit amet
            <br>



             consectetur adipiscing elit. Vestibulum magna enim, volutpat nec imperdiet id, tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim.</td>              
            </tr>
          </table></td>
      </tr>
      <tr>


        <td height="15" align="center" valign="middle"><%= image_tag("blank_D.png", width: '20', height: '20')%></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="176" align="left" valign="top"><table width="176" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top" bgcolor="#47657d" style="background-color:#47657d; padding:8px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;"><b>CONTACT US</b></td>
              </tr>
              <tr>
                <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding:8px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#47657d;">Company Address <br>
                  123 James Street,   Suite100,  <br>
                  Long Beach CA, 90000 <br>
                  (000) 123  4567 <br>
                  <br></td>
              </tr>
            </table>
              <table width="176" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" bgcolor="#708d23" style="background-color:#708d23; padding:8px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;"><b>Special Report</b></td>
                </tr>
                <tr>
                  <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding:8px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#757575;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna enim, volutpat nec imperdiet id, tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit.<br>
                    <br></td>
                </tr>
              </table>
              <table width="176" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" bgcolor="#589985" style="background-color:#589985; padding:8px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;"><b>PRESS ROOM</b></td>
                </tr>
                <tr>
                  <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding:8px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#757575;">Nov 13, 2012 <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                    <br>
                    Nov 30, 2012<br>
Vestibulum magna enim, volutpat nec imperdiet id, tempor venenatis eros.  <br>
<br>
Dec 11, 2012 <br>
Aliquam sed velit vitae nibh pulvinar iaculis.<br>
<br>
Dec 15, 2012<br>
Aenean hendrerit, lorem eu luctus cursus, sapien justo<br>
<br></td>
                </tr>
              </table></td>
            <td width="20" align="left" valign="top"><img src="images/blank.png" width="20" height="14" style="display:block;"></td>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top" bgcolor="#dda51c" style="background-color:#dda51c; padding:8px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;"><b>Newsletter Article One</b></td>
              </tr>
              <tr>
                <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding:7px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#444444;">



                <div><%= image_tag("mainpic_D.jpg", width: '387', height: '185')%></div>
                  <div style="font-size:16px; color:#589985;"><b>Welcome to Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna </b></div>






                <div>Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. <br> 
                  <br>
                </div>
                </td>
              </tr>
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" bgcolor="#1b4a14" style="background-color:#1b4a14; padding:8px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;"><b>Newsletter Article Two</b></td>
                </tr>
                <tr>
                  <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding:6px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#444444;"><div style="font-size:16px; color:#47657d;"><b>Welcome to Lorem ipsum dolor sit amet...</b></div><br>
                    <div class="span22">
      <h6 class=><b>Dear {name}</b>,</h6>
        </p>
        <textarea class="field span22" id="textarea" cols="55" rows="10" placeholder="Create message"></textarea>
        <button class="btn">Upload</button>
    </div>

<!--

                    <div>Lorem tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. Morbi eleifend feugiat turpis non placerat. Etiam sed tellus ac lectus lacinia molestie nec eu nisl. <br>

              -->
                      <br>
                      Lorem tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Lorem tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis.<br>
                      <br>
                    </div></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
      </tr>
    </table>
    <br>
    <br></td>
  </tr>
</table>
</div>
</body>
</html>
